@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}

.logo{
    background-color: var(--negro2);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo i{
    color: var(--blanco);
    font-size: 1.5rem;
}

.logo img{
    max-width: 200px;
    width: 30%;
}

nav{
    background-color: rgba(1, 10, 52, 0.838);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    position: absolute;
    z-index: 100;
    width: 100%;
}

.menu-hr{
    width: 90%;
    background-color: var(--blanco);
    height: 1px;
    margin: 1rem 0;
}

.menu-item{
    padding: 1rem 0;
}

nav a{
    color: var(--blanco);
    font-size: 1.1rem;
    text-decoration: none;
    font-family: 'Marcellus', serif;
}

nav a:hover{
    background-color: #0B3860;
    width: 100%;
    text-align: center;
}

.btn-azul{
    background-color:transparent;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    padding: 0.5rem;
    font-family: 'Marcellus', serif;
    color: var(--blanco);
    cursor: pointer;
}

#banner{
    background-image: url("../img/index/slide1.jpg");
    height: 300px;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    background-position: 50% 50%;
    position: relative;
    z-index: 0;
    width: 100%;
}
#banner h2{
    background-color: rgba(0,0,0,0.2);
    color: var(--blanco);
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    font-family: 'Roboto', sans-serif;
}
main .banner{
    display:flex;
    flex-direction: row-reverse;
}
.descripcion{
        display: flex;
        padding: 5rem;
        flex-direction: row;
        
    }

.logo-descripcion{
        display: flex;
        width: 50px;
        height: 150px;
        background-color:var(--azulnegro);
        z-index: 100;
        width: 100%;
       
        
    }
/*Punto quiebre media querie tabletas*/
@media screen and (min-width: 768px){
   
}

/*Punto de quiebre media querie notebook*/
@media screen and (min-width: 1024px){
    header{
        display: flex;
        justify-content: space-between;
        background-color: var(--negro2);
    }
    .logo{
        flex-basis: 50%;
    }
    /*ocultamos el ícono bars del menú hamburguesa*/
    .logo i{ 
        display: none;
    } 
    .logo img{
        width: 100%;
    }
    .menu-hr{
        display: none;        
    }
    nav{
        flex-basis: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: transparent;
        padding-right: 1rem;
        
    }
    nav a{
        color: var(--blanco);
        font-size: 1.1rem;
        text-decoration: none;
        font-family: 'Marcellus', serif;
        
    }
    
    nav a:hover{
        background-color: transparent;
        width: auto;
        color: var(--azuloscuro)
    }
    .btn-azul{
        background-color: var(--azuloscuro);
        color: var(--blanco);
        padding: 0.5rem 1rem ;
        font-family: 'Marcellus', serif;
        font-size: 1.5rem;
        border-radius: 5px;
        cursor: pointer;
    }

 }
/*Punto de quiebre media querie desktop*/
@media screen and (min-width: 1328px){
    body{
     background-color: greenyellow;
    }
 }
