@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
 
h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}

header{
    display: flex;
    background-color:var(--azulnegro);
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
}
.logo img{
    width: auto;
    background-image: initial;
    
  
}

nav a{
    font-family: 'Marcellus', serif;
    color: var(--blanco);
    font-size: 1.5rem;
    text-decoration:none;
    padding: 0 1rem;
    background-position:center;
}

.btn-azul{
    background-color: var(--azuloscuro);
    color: var(--blanco);
    padding: 0.5rem 1rem;
    font-family: 'Marcellus', serif;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;

}

#banner{
    background-image: url("../img/index/slide1.jpg");
    height: auto;
    background-size: cover;  
    display: flex;
    flex-direction: column-reverse;
  

}

#banner h2{
    background-color: rgba(0,0,0,0.3);
    color: var(--blanco);
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
    font-family: 'Roboto', sans-serif;
    }
main .banne{
    display:flex;
    flex-direction: row-reverse;
}
#descripcion{
        display: flex;
        padding: 5rem;
        flex-direction: row;
        
    }

.logo-descripcion{
        display: flex;
        width: 50px;
        height: 150px;
        background-color:var(--azulnegro);
       
        
    }

#feacture{
        background-image: url("../img/index/bg-features.png");
        background-size: cover;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

.feacture-row{
        display:flex;
        justify-content: space-around;
        margin-top: 1rem;
    
    }

#feacture h2{
        text-align: center;
        color:var(--blanco);
        background-color: rgba(0,0,0,0.2);
        font-size: 2rem;
        text-shadow: 3px 3px 3px #000;
        font-weight: 100;
    }

.feacture-box{
        text-align: center;
        padding: 1rem 1.5rem;
        border-radius: 3px;
        color: var(--blanco);
        font-size: 3rem;
    }

.feacture-box h3{
        margin-top: 1rem;
        font-size: 1.5rem;
        font-family: 'roboto', sans-serif;

    }

.box-blue{
        background-color: rgba(0,0,0,0.5);
    }


.box-white{
        background-color: #0B3860;
    }

#enu-item{
    background-color: #157A8A;
        
    }